[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git

[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
